body {
  margin: 0;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  width: 800px;
  max-width: 90vw;
  grid-gap: 2px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #222;
  transition: background-color 1s ease;
}
